/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:  #000;
    height: 100vh;
    background-attachment: fixed;
    scroll-behavior: smooth; /* Comportamento de rolagem suave em toda a página */
}

.interface {
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0c08f5;
    color: white;
    border: 1px solid #0c08f5;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #0c08f5;
}

button:hover, form .btn-enviar input[type=submit]:hover {
    box-shadow: 0px 0px 50px #0c08f5;
    transform: scale(1.1);
}

/* Estilo do cabeçalho */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu-desktop a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header .menu-desktop a:hover {
    color: #fff;
    transform: scale(1.1);
}

header nav.menu-desktop ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

#links.saindo{
    transition: 1.5s;
}
/* Estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #0c08f5;
    font-size: 70px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 50%;
    z-index: -1;
}

@keyframes flutuar {
    0%{
        top: 0;
        box-shadow: 0px 0px 50px #0c08f5;
    }
    100% {
        top: 30px;
        box-shadow: 0px 0px 100px #0c08f5;

    }
}

/* Estilo minhas especialidades */
section .especialidades{
    padding: 40px 4%;
}

section .especialidades .flex {
    gap: 80px;
}

.especialidades .especialidades-box {
    color: #fff;
    justify-content: center;
    height: 450px;
    width: 1000px;
    padding: 40px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #0c08f5;
}

.especialidades .especialidades-box img {
    width: 70px;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo sobre */
section.sobre{
    padding: 80px 4%;
}

.flexsobre .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70%;
    margin: 10px auto;
}

 .sobre .qualidade {
    align-items: center;
    justify-content: center;
    padding: 10px 4%;
    width: 100px;
    max-width: 40%;
    margin-bottom: 20px;
    transition: 2s;
}

section.sobre .qualidade .nome {
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
} 

 section.sobre .qualidade .barra {
    background-color: #f0f0f0;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 0px 40px #0c08f5;
}

section.sobre .qualidade .progresso {
    height: 100%;
    background-color: #0c08f5;
} 

section.sobre .img-sobre img {
    border-radius: 20px;
    width: 400px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #0c08f5;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #0c08f5;
    font-size: 22px;
    margin: 30px 5px;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO PORTIFOLIO */

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff38;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* Estilo de formulario */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: #27262671;
    border: 0;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #0c08f5;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilo de rodapé */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff38;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #0c08f5;
}

footer .line-footer p i{
    color: #0c08f5;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    text-decoration: none;
}

/* Menu mobile */
.interface-menu-mobile {
    background-color: #5c595998;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 156px;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
}

.interface-menu-mobile nav.mobile a, li{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 0px;
    font-size: 20px;
}

.interface-menu-mobile nav.mobile a:hover{
    background-color: #3f3e3e;
}

#btn-menu {
    background: transparent;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border: 4px solid #fff;
    transition: 0.2s;
    display: none;
}

.linha {
    position: relative;
    height: 5px;
    background-color: #fff;
    width: 30px;
    display: block;
    margin: 5px auto;
    transform-origin: center;
    transition: .2s;
}

#btn-menu.ativar {
    border: 2px solid #ff0000;
}

#btn-menu.ativar .linha:nth-child(1){
    transform: translateY(10px) rotate(-45deg);
    background-color: #ff0000;
}

#btn-menu.ativar .linha:nth-child(3){
    transform: translateY(-10px) rotate(45deg);
    background-color: #ff0000;
}

#btn-menu.ativar .linha:nth-child(2){
    width: 0;
}

@media screen and (max-width: 1020px){
    /* Classe gerais */
    
    .flex {
        flex-direction: column;
    }
    
    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* Cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* Topo do site */
    .topo-do-site .flex {
        flex-direction: column-reverse;
    }
    

    section.topo-do-site .flex {
        gap: 40px;
    }

    section .topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
        z-index: -1                                                                             ;
    }

    /* Estilo minhas especialidades */
    section .especialidades{
        padding: 30px 4%;
    }

    .especialidades .especialidades-box{
        width: 95%;
        height: 500px;
        max-height: 100%;
        margin-left: 2.5%;
        margin-right: 1%;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
        display: block;
    }
    /* Sobre */

    .flexsobre .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 70%;
        margin: 10px auto;
    }
    section.sobre{
        padding: 80px 8%;
    }
    
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-soobre .qualidade .barra, .nome {
        justify-content: center;
        align-items: center;
    }

    /* Portifolio */
    section.portifolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex{
        gap: 60px;
    }

    /* Rodapê */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

    .menu-desktop, .btn-contato {
        display: none;
    }

    .interface-menu-mobile.abrir{
        visibility: visible;
        height: calc(100vh - 156px);
    }

    #btn-menu{
        display: block;
    }
}